.intro {
    display: flex;
    height: 50rem;
    &__text-block {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    &__title {}
    &__description {}
    &__image-block {
        flex: 1;
        position: relative;
    }
    &__image {
        // background-image: url('/assets/images/bike.jpg');
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 50vw;
        background-position: bottom;
        background-repeat: no-repeat;
        bottom: 0;
        left: 0;
    }
}