<nav class="nav">
    <div class="container nav__container">
        <div class="nav__logo-holder" [routerLink]="'/'">
            <svg class="nav__logo" viewBox="0 0 432 360"><path fill="#122022" d="M0 0l135 72v216L0 360V0zM432 0L297 72v216l135 72V0z"></path></svg>
            <span class="nav__company-name">BIKE World</span>
        </div>
        <div class="nav__menu">
            <ul class="nav__list">
                <li class="nav__list-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="nav__list-item"><a routerLink="/bikes" routerLinkActive="active">Bikes</a></li>
                <li class="nav__list-item"><a routerLink="/accessories" routerLinkActive="active">Accessories</a></li>
            </ul>
        </div>
        <div class="nav__buttons"></div>
    </div>
</nav>