<div class="footer">
  <div class="container">
    <div class="polygon"></div>
    <div class="footer__container">
      <div class="footer__logo-block">
        <svg class="footer__logo" viewBox="0 0 432 360">
          <path
            fill="#fff"
            d="M0 0l135 72v216L0 360V0zM432 0L297 72v216l135 72V0z"
          ></path>
        </svg>
        <span class="footer__company-name">BIKE World</span>
      </div>
      <div class="footer__navigation-block"></div>
      <div class="footer__buttons-block"></div>
    </div>
  </div>
</div>
